services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - backend-network

  postgres:
    image: postgres:15
    container_name: mockdb
    restart: always
    environment:
      POSTGRES_DB: ewallet-db
      POSTGRES_USER: mock
      POSTGRES_PASSWORD: mock
    ports:
      - "5432:5432"
    volumes:
      - ewallet-db:/var/lib/postgresql/data
    networks:
      - backend-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U mock -d ewallet-db"]
      interval: 5s
      timeout: 2s
      retries: 20

  prisma-studio:
    image: node:lts-alpine3.17
    container_name: ewallet-service-prisma-studio-1
    working_dir: /usr/src/app
    volumes:
      - .:/usr/src/app
    command: npx prisma studio --port 5555 --browser none
    ports:
      - "5555:5555"
    env_file:
      - .env
    networks:
      - backend-network
    depends_on:
      postgres:
        condition: service_healthy

  app:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: bifwallet-app
    restart: always
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgresql://mock:mock@postgres:5432/ewallet-db?schema=public
      - RABBITMQ_URL=${RABBITMQ_URL}
      - NODE_ENV=production
    ports:
      - "8888:8888"
    depends_on:
      - postgres
      - rabbitmq
    networks:
      - backend-network

networks:
  backend-network:
    driver: bridge

volumes:
  rabbitmq_data:
  ewallet-db:
